@import url(default.css);

/* totais */
.data-total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.data-total-container p {
    margin-right: 5px;
    font-size: 18px;
}

.data-total-container p {
    border: 1px solid var(--green-50);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

/* tabela */
#table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.table-content {
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content thead tr {
    background-color: var(--green-25);
    color: var(--gray-25);
    font-weight: bold;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
}

.table-content tbody tr {
    border-bottom: 1px solid var(--gray-100);
}

.table-content tbody tr:nth-of-type(odd) {
    background-color: var(--white);
}

.table-content tbody tr:nth-of-type(even) {
    background-color: var(--gray-30);
}

.table-content tbody tr:last-of-type {
    border-bottom: 3px solid var(--green-50);
}

.table-content tbody tr td:nth-child(2),
.table-content tbody tr td:nth-child(3),
.table-content tbody tr td:nth-child(4) {
    text-align: right;
}

#last-search-content {
    text-align: center;
}

@media(max-width:576px) {
    .data-total-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .data-total-container p {
        width: 100%;
    }

    #table-container {
        display: block;
    }
}